<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input
      type="text"
      class="form-control"
      [class.is-invalid]="!nome.valid && nome.touched"
      id="nome"
      placeholder="Nome"
      name="nome"
      [(ngModel)]="usuario.nome"
      required
      #nome="ngModel"
    />
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="!nome.valid && nome.touched"
    >
      Nome é obrigatório.
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="Email"
      name="email"
      ngModel
      [(ngModel)]="usuario.email"
      required
      email
      #email="ngModel"
      [class.is-invalid]="!email.valid && email.touched"
    />
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="!email.valid && email.touched"
    >
      Email inválido.
    </div>
  </div>

  <button [disabled]="!f.valid" type="submit" class="btn btn-primary">
    Submit
  </button>

  <app-form-debug [form]="f"></app-form-debug>
</form>
